* {
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

.block { width: 14em; }

ul { padding: 0; }

li {
  background-color: #008B8B;
  border-radius: 6px;
  margin: 4%;
  list-style: none;
}

li:hover {
  background-color: #007777;
  color: #039be5;
}

a {
  display: block;
  width: 100%;
  color: #F9F9F9;
  text-decoration: none;
  /*text-align: center;*/
  font-size: 22px;
  padding: 4%;
}

/*.sub {
  text-align: center;
}*/

/*h1, h2 { text-align: center; }*/

.inner-wrapper {
  display: flex;
  justify-content: center;
}
